<div class="center_area">
  <div class="listing_area">
    <h2>Workers list</h2>

    <div>
      <%= link_to '<button><i class="fa-solid fa-circle-plus"></i> Add worker</button>'.html_safe, new_admin_worker_url %>
    </div>

    <table width="100%">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Description</th>
          <th>Created at</th>
          <th>Tasks</th>
          <th>Total Time</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @workers.each do |worker| %>
          <tr>
            <td><%= worker.id %></td>
            <td><%= worker.name %></td>
            <td><%= worker.description %></td>
            <td><%= worker.created_at.strftime('%d/%m/%Y %H:%M') %></td>
            <td><%= worker.tasks %></td>
            <td><%= worker.total_time %></td>
            <td style="text-align: center; white-space: nowrap;">
              <span class="fa-icon" style="display: flex; justify-content: space-around;">
                <%= link_to '<i class="fa-solid fa-key"></i>'.html_safe, '#', { :onclick => "copyKey('#{worker.token}');" } %>
                <%= link_to '<i class="fa-solid fa-pen-to-square"></i>'.html_safe, edit_admin_worker_url(worker) %>
                <%= link_to '<i class="fa-solid fa-trash"></i>'.html_safe, admin_worker_path(worker), {
                  data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure you want to delete worker #{worker.name}?"
                  }
                } %>
              </span>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<script>
  /**
   * Copy the key to the clipboard.
   */
  function copyKey(key) {
    navigator.clipboard.writeText(key);
    alert('Copied the worker key: ' + key);
  }

  /**
   * Asks the user if we should really delete a worker.
   */
  function deleteWorker(id, name) {
    const confirmation = confirm('Are you sure you really want to delete "' + name + '"?\n\nThis operation is irreversible!');

    if (confirmation == true) {
      window.open('/worker/delete/' + id);
    }
  }
</script>
