<div class="center_area">
  <div class="form_area">
    <h2>Login</h2>
    <%= form_for :session, url: session_index_url do |f| %>
      <div class="form_field">
        <%= f.label :email, 'E-mail' %>
        <%= f.email_field :email, { :autofocus => true, :required => true } %>
      </div>

      <div class="form_field">
        <%= f.label :password, 'Password' %>
        <%= f.password_field :password, { :required => true } %>
      </div>

      <div class="form_buttons">
        <%= f.submit 'Login', { :class => :button_default } %>
        <%= link_to '<button type="button">Register</button>'.html_safe, new_user_url %>
      </div>
    <% end %>
    <p style="text-align: center;"><%= link_to 'I forgot my password :(', new_password_recovery_url %></p>
  </div>
</div>
