<!DOCTYPE html>
<html>
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-TP6HQ71E1C"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-TP6HQ71E1C');
    </script>

    <title>CityZones Web App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="CityZones Application Server is a web interface for the RiskZones tool, enabling researchers around the world to make use of the risk assessment approach proposed by Ph.D candidate João Paulo Just Peixoto.">
    <script src="https://kit.fontawesome.com/6836d4b5c9.js" crossorigin="anonymous" async></script>

    <%# Leaflet %>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin="" async></script>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="container">

      <div class="top_bar">
        <div class="title">
          CityZones Web
          <span style="font-size: 0.7em; font-weight: normal;">
            <br>
            <%= @page_title.present? ? @page_title : '' %>
          </span>
        </div>

        <div class="nav">
          <% if logged_in? %>
            <%= link_to 'Map', new_task_url %>
            <%= link_to 'Tasks', tasks_url %>

            <% if current_user.admin %>
              <%= link_to 'Workers', admin_workers_url %>
            <% end %>

            <%= link_to 'Profile', edit_user_url(current_user.id) %>
          <% else %>
            <%= link_to 'Login', new_session_url %>
          <% end %>

          <%= link_to 'Help', page_url('help') %>
          <%= link_to 'About', page_url('about') %>

          <% if logged_in? %>
            <%= link_to 'Logout', session_url(session[:session_id]), {
                data: {
                  turbo_method: :delete,
                  turbo_confirm: 'Logout?'
                }
              } %>
          <% end %>
        </div>
      </div>

      <div class="messages">
        <section class="messages">
          <% if flash[:message].present? %>
            <div class="info_msg"><%= flash[:message] %></div>
          <% end %>
          <% if flash[:notice].present? %>
            <div class="error_msg"><%= flash[:notice] %></div>
          <% end %>
        </section>
      </div>

      <div class="content">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
